.nav-section {
    width: 100%;
    height: 50px;
    display: inline-flex;
    background-color: rgb(8, 8, 31);
    color: aliceblue;
}

.menu-sidebar {
    margin-left: 200px;
    position: fixed;
    top: 100px;
    left: -200px;
    border: none;
}

.nav-title {
    position: fixed;
    display: inline-flex;
    width: 100%;
    background-color: rgb(8, 8, 31);
    color: aliceblue;
    align-items: center;
}

.nav-home {
    margin-left: 80%;
    cursor: pointer;
}

.nav-title span {
    font-size: x-large;
    font-weight: 300;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    margin-left: 20px;
}

.team-list ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 30px;
    cursor: pointer;
    text-decoration: none;
}

ul li {
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}

.sidebar-none {
    display: none;
}


/* 
.sidebar-section {
    width: 200px;
    height: 100vh;
    padding: 10px;
    border: 2px solid red;
    margin-left: -200px;
    margin-top: 50px;
} */