.banner-section {
    background-color: rgb(8, 8, 31);
}

.banner-box {
    border: 3px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 35%;
    align-items: center;
    margin-left: 400px;
    padding: 20px;
    position: relative;
    border: 2px solid gray;
    background-color: rgb(20, 20, 51);
    color: white;
}

.team-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.team-scores {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    padding: 10;
}